@page
@model StDb2EFRP.Pages.Crs.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Courses</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Courses.CourseName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Courses.CourseName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Courses.CreditHours)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Courses.CreditHours)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Courses.CourseNum">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
